// COLORS
$color-primary: #008751;

$color-blue: #253992;
$color-dark-blue: #335073;
$color-blue-2: #0164B3;
$color-light-blue: #009DE4;
$color-orange: #F5A84C;
$color-white: #ffffff;
$color-dark-grey: #26292c;
$color-grey: #525960;
$color-grey-2: #9199A1;
$color-greyish-blue: #838C95;
$border-color: #eeeeee;
$color-black: #031926;



$color-blue-dark: #1C4E63;
$color-green-darker: #003822;
$color-green-dark: #26542a;
$color-green: #7faf1b;
$color-green-light: #a0d4a4;
$color-green-lighter: #edf3e2;
$color-grey-blue: #c2d1d9;
$color-grey-dark: #bdbdbd;
$color-grey-dark-1: #dadada;
$color-grey-light-1: #e0e0e0;

$shadow-black: #111111;

$border-color: #eeeeee;

// PADDING
$gen-padding: 16%;
$gen-padding-large: 18%;
$gen-padding-medium: 10%;
$gen-padding-small: 6%;

// PADDING
$gen-padding: 16%;
$gen-padding-new-large: 20%;
$gen-padding-new-medium: 10%;
$gen-padding-new-small: 6%;

$land-top-padding: 8%;
$land-top-padding-small: 12%;

// FONT
$default-font-size: 1.6rem;

// GRID
$fake-grid-width: 100rem;
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;

// CARD
$circle: 15.2rem;
