// COLORS
$color-primary: #008751;
// $color-primary: #FF404B;



$color-blue-dark: #1C4E63;
$color-green-darker: #003822;
$color-green-dark: #26542a;
$color-green: #7faf1b;
$color-green-light: #a0d4a4;
$color-green-lighter: #edf3e2;
$color-grey-blue: #c2d1d9;
$color-black: #111704;
$color-black-2: #04081b;
$color-grey: #a5adb6;
$color-grey-dark: #bdbdbd;
$color-grey-dark-1: #dadada;
$color-grey-light-1: #e0e0e0;
$color-white: #ffffff;

$shadow-black: #111111;

$border-color: #eeeeee;

// PADDING
$gen-padding: 10%;
$gen-padding-large: 18%;
$gen-padding-small: 6%;

// FONT
$default-font-size: 1.6rem;

// GRID
$fake-grid-width: 100rem;
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;


