.footer {
  background: var(--main-color-warmer-20);
  padding: 2% $gen-padding;
  display: flex;
  justify-content: space-between;

  @include respond(big-desktop-min) {
    padding: 2% $gen-padding-large;
  }

  @include respond(tab-land) {
    padding: 3% $gen-padding-medium;
  }

  @include respond(l-phone) {
    padding: 4% 0%;
  }

  &__sponsor {
    display: flex;
    align-items: center;

    @include respond(l-phone) {
      display: none;
    }
  }

  &__logo {
    height: 3rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__report {
    margin-top: 5%;
  }
}
