.btn {
  color: $color-white;
  border: none;
  background: var(--main-color);
  font-family: "helvetica", sans-serif;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color-white;
    background: var(--main-color-warm);
  }

  &__map {
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    color: $color-blue-dark;
    display: flex;
    align-items: center;
    padding: 1.4rem 2rem;
    justify-content: space-between;
    border: 1px solid $color-blue-dark;
    background: $color-white;
    text-transform: uppercase;
    font-weight: 500;
    text-transform: capitalize;

    &:hover {
      background: $color-white;
      color: $color-blue-dark;
      outline: none;
    }

    @include respond(big-desktop) {
      font-size: 2rem;
    }

    @include respond(desktop-min) {
      font-size: 1.6rem;
    }

    @include respond(tab-port3) {
      line-height: 1.7;
    }

    &__img {
      @include respond(big-desktop) {
        height: 2.4rem;
      }
    }

    &--1 {
      width: 9%;
      border-radius: 0 8px 8px 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scaleX(1.03) translateX(1.5%);
        cursor: pointer;
      }

      @include respond(big-desktop) {
        width: 8%;
      }

      @include respond(desktop-min) {
        width: 12%;
      }

      @include respond(tab-land2) {
        width: 15%;
      }
    }
  }

  &__nav {
    // padding: 0.8% 2%;
    padding: 8px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    
    &--white {
      color: $color-black;
      background: $color-white;
    }

    &--black {
      color: $color-white;
      background: $color-black;
    }

    @include respond(tab-port3) {
      padding: 7% 0 7% 10%;
      border-bottom: 0.25px solid #111704eb;
      background: #e6e6e6;
      width: 100%;
      font-size: 1.6rem;
      font-weight: bold;
      color: $color-black;
    }

    @include respond(l-phone) {
      padding: 9% 0 9% 10%;
    }

    &:hover {
      color: $color-white;
      background: var(--main-color);
    }
  }

  &__header {
    padding: 1rem 2.8rem;
    background: $color-white;
    color: $color-black;
    margin-top: 6%;

    @include respond(l-phone) {
      margin-top: 16%;
      font-size: 2rem;
    }
  }

  &__close {
    background: #000;
    color: $color-white;
    font-size: 3rem;
    border: none;
    font-weight: lighter;
    padding: 0.1rem 0.8rem;
    position: absolute;
    top: 0;
    border-radius: 0;
    line-height: 1.2;

    &:hover {
      background: $color-green-darker;
    }

    @include respond(l-phone) {
      display: none;
    }
  }

  &__report {
    font-size: 1.7rem;
    padding: 1.2rem 4.4rem;
    margin-top: 2.8rem;

    &:hover {
      background: var(--main-color-darker);
    }

    @include respond(tab-land) {
      font-size: 2.6rem;
    }

    @include respond(tab-port) {
      font-size: 2.2rem;
    }

    @include respond(l-phone) {
      align-self: stretch;
    }
  }

  &__feedback {
    padding: 1.8rem 7.6rem;
    color: $color-black;
    font-weight: normal;
    font-size: 1.8rem;
    display: block;
    margin-top: 2.5%;

    &:hover {
      background: var(--main-color-lower);
      color: $color-white;
    }

    @include respond(l-phone) {
      margin-top: 10%;
      font-size: 1.2rem;
    }
  }

  &__lga {
    @extend .btn__feedback;
    background: $color-white;
    color: var(--main-color-darker);

    @include respond(l-phone) {
      margin-top: 6%;
      font-size: 2.4rem;
    }

    @include respond(m-phone2) {
      font-size: 1.6rem;
    }

    @include respond(sx-phone) {
      font-size: 1.4rem;
    }

    &:hover {
      outline: 3px solid $color-white;
      background: transparent;
    }
  }

  &__send {
    width: 60%;
    padding: 1.8rem 0;
    margin: 0 auto;
    display: block;
    font-size: 2.8rem;

    @include respond(l-phone) {
      width: 100%;
      font-size: 1.6rem;
      padding: 1.4rem 0;
    }
  }

  &__home {
    padding: 1.6rem 5rem;
    font-size: 2.4rem;
    margin-top: 3.5%;

    @include respond(tab-land2) {
      font-size: 3.5rem;
      padding: 2.6rem 6rem;
    }

    @include respond(l-phone) {
      font-size: 3rem;
      margin-top: 12%;
    }

    @include respond(m-phone-m) {
      width: 100%;
    }

    @include respond(s-phone) {
      font-size: 2rem;
    }
  }

  &__search {
    width: 25%;
    font-size: 2.2rem;

    @include respond(l-phone) {
      padding: 1.4rem 0;
      width: 100%;
    }
  }

  &__read {
    color: var(--main-color-darker);
    font-size: 1.4rem;
    padding: 1rem 2rem 1rem 0;
    background: $color-white;
    margin-top: 6%;

    &:hover {
      outline: 3px solid $color-white;
      background: transparent;
    }

    @include respond(l-phone) {
      font-size: 2.2rem;
    }

    @include respond(m-phone2) {
      font-size: 2rem;
    }
  }

  &__submit {
    background: var(--main-color);
    text-align: center;
    width: 20%;
    padding: 1.5% 0;
    font-size: 2rem;

    @include respond(l-phone2) {
      width: 100%;
      margin-top: 8%;
      padding: 4.5% 0;
      font-size: 3rem;
    }

    &:hover {
      color: $color-black;
      background: var(--main-color-warm);
    }
  }

  &__format {
    padding: 6% 16%;
    margin-top: 4%;
    font-size: 1.4rem;

    @include respond(tab-port3) {
      font-size: 1.6rem;
      padding: 4% 10%;
    }

    &__csv {
      background: #2f9171;
    }

    &__xml {
      background: #83629a;
    }

    &__pdf {
      background: #b53438;
    }

    &__doc {
      background: #2c81e4;
    }

    &__zip {
      background: #859594;
    }
  }

  &__view {
    @include flex-center;
    height: 5.2rem;
    border-radius: 100px;
    width: 5.2rem;
    margin-right: 8px;
    margin-top: 0;
    padding: 0;

    @include respond(m-phone-m) {
      height: 7.2rem;
      width: 7.2rem;
    }
  }

  &__embed {
    @include flex;
    @include ai-c;
    font-size: 1.4rem;
    padding: 0 3%;
    font-weight: 800;
    color: $color-white;

    &:not(:last-child) {
      margin-right: 3%;
    }

    &:hover {
      color: $color-black;
    }

    &:hover > svg path {
      fill: $color-black;
    }

    @include respond(m-phone-m) {
      padding: 6% 0;
      display: flex;
      justify-content: center;
      margin-top: 8%;

      &:not(:last-child) {
        margin-right: 0;
      }

      &:last-child {
        margin-top: 4%;
      }
    }
  }
}
