.btn {
  color: $color-white;
  border: none;
  background: var(--main-color);
  font-family: "helvetica", sans-serif;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color-white;
    background: transparent;
    outline: 3px solid $color-white;
  }

  &__map {
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    color: $color-blue-dark;
    display: flex;
    align-items: center;
    padding: 1.4rem 2rem;
    justify-content: space-between;
    border: 1px solid $color-blue-dark;
    background: $color-white;
    text-transform: uppercase;
    font-weight: 500;
    text-transform: capitalize;

    &:hover {
      background: $color-white;
    }

    @include respond(big-desktop) {
      font-size: 2rem;
    }

    @include respond(desktop-min) {
      font-size: 1.6rem;
    }

    @include respond(tab-port3) {
      line-height: 1.7;
    }

    &__img {
      @include respond(big-desktop) {
        height: 2.4rem;
      }
    }

    &--1 {
      width: 9%;
      border-radius: 0 8px 8px 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scaleX(1.03) translateX(1.5%);
        cursor: pointer;
      }

      @include respond(big-desktop) {
        width: 8%;
      }

      @include respond(desktop-min) {
        width: 12%;
      }

      @include respond(tab-land2) {
        width: 15%;
      }
    }
  }

  &__header {
    padding: 1rem 2.8rem;
    background: $color-white;
    color: $color-black;
    margin-top: 6%;

    @include respond(l-phone) {
      margin-top: 16%;
      font-size: 2rem;
    }
  }

  &__close {
    background: #000;
    color: $color-white;
    font-size: 3rem;
    border: none;
    font-weight: lighter;
    padding: 0.1rem 0.8rem;
    position: absolute;
    top: 0;
    border-radius: 0;
    line-height: 1.2;

    &:hover {
      background: $color-green-darker;
    }

    @include respond(l-phone) {
      display: none;
    }
  }

  &__report {
    font-size: 1.7rem;
    padding: 1.2rem 4rem;

    @include respond (tab-land) {
      font-size: 2.6rem;
    }

    @include respond (tab-port) {
      font-size: 2.2rem;
    }
  }

  &__feedback {
    padding: 1.8rem 7.6rem;
    color: $color-black;
    font-weight: normal;
    font-size: 1.8rem;
    display: block;
    margin-top: 2.5%;

    &:hover {
      background: var(--main-color-lower);
      color: $color-white;
    }

    @include respond(l-phone) {
      margin-top: 10%;
      font-size: 1.2rem;
    }
  }

  &__view {
    @extend .btn__feedback;
    background: $color-white;

    color: var(--main-color-darker);

    @include respond(l-phone) {
      margin-top: 6%;
      font-size: 2.4rem;
    }

    @include respond(m-phone2) {
      font-size: 1.6rem;
    }

    @include respond(sx-phone) {
      font-size: 1.4rem;
    }

  }

  &__send {
    width: 60%;
    padding: 1.8rem 0;
    margin: 0 auto;
    display: block;
    font-size: 2.8rem;

    @include respond(l-phone) {
      width: 100%;
      font-size: 1.6rem;
      padding: 1.4rem 0;
    }
  }

  &__home {
    padding: 1.6rem 5rem;
    font-size: 2.4rem;
    margin-top: 3.5%;

    @include respond(tab-land2) {
      font-size: 3.5rem;
      padding: 2.6rem 6rem;
    }

    @include respond(l-phone) {
      font-size: 3rem;
      margin-top: 12%;
    }

    @include respond(m-phone-m) {
      width: 100%;
    }

    @include respond(s-phone) {
      font-size: 2rem;
    }
  }

  &__search {
    width: 25%;
    font-size: 2.2rem;


    @include respond(l-phone) {
      padding: 1.4rem 0;
      width: 100%;
    }
  }
}
