%absolute {
  position: absolute;
}

%hover-body {
  @extend %absolute;
  height: 100%;
  width: 100%;
}

%hover-item {
  @extend %absolute;
  z-index: 3;
}

.news {
  padding: 8% $gen-padding;
  background: #f7f7f7;

  @include respond(big-desktop-min) {
    padding: 8% $gen-padding-large;
  }

  @include respond(tab-land) {
    padding: 8% $gen-padding-medium;
  }

  @include respond(m-phone4) {
    padding: 8% $gen-padding-small;
  }

  &__items {
    // display: flex;
    // flex-wrap: wrap;

    @include card-container;

    @include respond(l-phone2) {
      flex-direction: column;
    }
  }

  &__container {
    // flex: 1 1 33.3333%;

    @include card;

    @include respond(tab-land) {
      flex: 1 1 50%;
    }

    @include respond(m-phone2) {
      flex: 1 1 100%;
    }
  }

  &__item {
    flex: 1 1 33.3333%;
    background: $color-white;
    box-shadow: 0px 0px 15px var(--main-color-10);
    position: relative;
    height: 43.5rem;
    transition: all .5s ease-in-out;

    @include respond(tab-land) {
      height: 56.5rem;
    }

    @include respond(tab-port2) {
      height: 43.5rem;
    }

    @include respond(m-phone2) {
      height: 47.5rem;
    }

    @include respond(sx-phone) {
      height: 49.5rem;
    }

    &__inner {
      padding: 6%;
      background: $color-white;
      // height: 30rem;
    }

    &__sub {
      flex: 1 1 50%;
      padding: 0 1.5% 3%;

      @include respond(l-phone) {
        padding: 0 1.5% 6%;
      }
    }

    &__small {
      position: relative;
      height: 100%;
    }
  }

  &__img {
    @include image;
    height: 18rem;

    @include respond(tab-land) {
      height: 30rem;
    }

    @include respond(tab-port2) {
      height: 18rem;
    }
  }
}

.news__item:hover .news__overlay {
  @extend %hover-body;
  z-index: 2;
  background: linear-gradient(
    0deg,
    var(--main-color-dark-90),
    var(--main-color-dark-90)
  );
}

.news__item:hover .news__img {
  @extend %hover-body;
  z-index: 1;
}

.news__item:hover .news__main {
  @extend %hover-item;
  color: $color-white;
  font-size: 2.6rem;
  top: 50%;
  transform: translateY(-50%);
}

.news__item:hover .btn__read {
  @extend %hover-item;
  margin-top: 0;
  padding: 1rem 2rem;
  bottom: 10%;
}
