:root {
  --main-color-h: 2;
  --main-color-s: 19%;
  --main-color-l: 51%;

  // pink
  // --main-color-h: 332;
  // --main-color-s: 51%;
  // --main-color-l: 73%;

  // blue
  // --main-color-h: 195;
  // --main-color-s: 86%;
  // --main-color-l: 58%;

  // red
  // --main-color-h: 0;
  // --main-color-s: 75%;
  // --main-color-l: 65%;

  --main-color-hsl: var(--main-color-h), var(--main-color-s), var(--main-color-l);

  --main-color: hsl(var(--main-color-hsl));
  --main-color-4: hsla(var(--main-color-hsl), .04);
  --main-color-8: hsla(var(--main-color-hsl), .08);
  --main-color-10: hsla(var(--main-color-hsl), .1);
  --main-color-20: hsla(var(--main-color-hsl), .2);
  --main-color-30: hsla(var(--main-color-hsl), .3);
  --main-color-40: hsla(var(--main-color-hsl), .4);
  --main-color-50: hsla(var(--main-color-hsl), .5);
  --main-color-60: hsla(var(--main-color-hsl), .6);
  --main-color-70: hsla(var(--main-color-hsl), .7);
  --main-color-80: hsla(var(--main-color-hsl), .8);
  --main-color-85: hsla(var(--main-color-hsl), .85);
  --main-color-90: hsla(var(--main-color-hsl), .9);

  --main-color-warm: hsl(calc(var(--main-color-h) + 80), var(--main-color-s), var(--main-color-l));
  --main-color-warmer: hsl(calc(var(--main-color-h) + 80), calc(var(--main-color-s) / 4), var(--main-color-l));
  --main-color-warmer-40: hsla(calc(var(--main-color-h) + 80), calc(var(--main-color-s) / 4), var(--main-color-l), .4);
  --main-color-warmer-20: hsla(calc(var(--main-color-h) + 80), calc(var(--main-color-s) / 4), var(--main-color-l), .2);
  --main-color-cold: hsl(calc(var(--main-color-h) - 80), var(--main-color-s), var(--main-color-l));

  --main-color-low: hsl(var(--main-color-h), calc(var(--main-color-s) / 2), var(--main-color-l));
  --main-color-lower: hsl(var(--main-color-h), calc(var(--main-color-s) / 3), var(--main-color-l));
  --main-color-lowest: hsl(var(--main-color-h), calc(var(--main-color-s) / 4), var(--main-color-l));

  --main-color-light: hsl(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) / .85));
  --main-color-lighter: hsl(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) / .52));
  --main-color-lightest: hsl(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) / .27));

  --main-color-dark: hsl(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) * .9));
  --main-color-darker: hsl(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) * .7));
  --main-color-dark-85: hsla(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) * .3), .85);
  --main-color-dark-6: hsla(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) * .3), .6);
  --main-color-dark-90: hsla(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) * .3), .90);
}

html {
  //this defines what 1rem is
  /* calc = 10/16px which is 0.625
  then converted to percentage
  calc = 0.625 x 100 which is 62.5% */
  font-size: 62.5%;

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px,  9/16 = 56.25%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; //1 rem = 8px,  8/16 = 50%
  }

  @include respond(big-desktop-min) { // width > 1800?
    font-size: 75%; //1 rem = 12px,  12/16 = 75%
  }

}

body {
  box-sizing: border-box;
  // background: var(--main-color-lighter);
  background: $color-white;
}

a:-webkit-any-main {
  color: $color-black;
}

a {
  color: inherit;
  text-decoration: none !important;
}


