body {
  color: $color-black;
  letter-spacing: 0.02em;
  font-feature-settings: "ss02" on, "ss04" on;
  font: normal normal 1.6rem/1.7 "poppins", sans-serif;
}

h1 {
  font: normal normal 4rem "poppins", sans-serif;
}

h2 {
  font-size: 3.6rem;

  @include respond(sx-phone) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3.2rem;
  font-weight: normal;

  @include respond(l-phone2) {
    font-size: 4rem;
  }

  @include respond(sx-phone) {
    font-size: 3rem;
  }
}

.header {
  &__main {
    color: $color-white;
    font-weight: bold;
    font-size: 5.2rem;
    text-align: center;
    text-transform: capitalize;

    @include respond(m-phone2) {
      font-size: 2.4rem;
    }

    @include respond(m-phone4) {
      text-align: center;
      font-size: 2rem;
    }
  }

  &__landing {
    font-size: 3.6rem;
    font-weight: 400;
    color: $color-white;
    margin-bottom: 20px;

    @include respond(desktop) {
      font-size: 5.8rem;
    }

    @include respond(tab-land) {
      font-size: 5.2rem;
    }

    @include respond(l-phone2) {
      font-size: 4.4rem;
    }

    @include respond(m-phone-m) {
      font-size: 3.2rem;
    }

    @include respond(sx-phone) {
      font-size: 2.4rem;
    }
  }

  &__sub-title {
    color: #ebebeb;
    font-size: 2.6rem;
    letter-spacing: 1px;
    text-align: center;

    @include respond(m-phone2) {
      font-size: 1.4rem;
    }

    @include respond(m-phone4) {
      text-align: center;
    }
  }

  &__about {
    &__title {
      font-weight: 500;
      font-size: 5.6rem;
      color: $color-white;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);

      @include respond(m-phone2) {
        font-size: 4.8rem;
      }
    }

    &__sub {
      color: #dedede;
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
      font-weight: 400;
      font-size: 2.4rem;
      margin-top: 4px;

      @include respond(m-phone2) {
        @include none;
      }
    }
  }
}

.about {
  &--title {
    color: $color-grey;
    margin: 2% 0 1.5%;
    font-size: 2.8rem;
    font-weight: 500;

    @include respond(tab-land) {
      font-size: 3.2rem;
      margin: 6% 0 4%;
    }
  }

  &--text {
    font-size: 2rem;
    font-weight: 300;

    @include respond(tab-land) {
      font-size: 2.4rem;
    }

    @include respond(m-phone2) {
      font-size: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 2%;

      @include respond(tab-land) {
        margin-bottom: 6%;
      }
    }
  }

  &--link {
    font-weight: bold;

    &:hover {
      color: $color-orange;
    }
  }
}

.report {
  &__title {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.8px;

    @include respond(tab-land) {
      font-size: 2.4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  &__sub {
    position: relative;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    color: #3a3939;
    letter-spacing: 1px;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 7.2em;
    line-height: 1.8em;

    @include respond(big-desktop-min) {
      -webkit-line-clamp: 3;
    }

    @include respond(tab-port2) {
      -webkit-line-clamp: 3;
    }
  }
}

.news {
  &__title {
    color: $color-black;
    font-weight: 600;
    // background: linear-gradient(
    //   180deg,
    //   rgba(0, 0, 0, 0) 73.44%,
    //   var(--main-color-warmer-40) 73.45%
    // );
    width: fit-content;
    margin-bottom: 8%;

    @include respond(l-phone) {
      margin: 0 auto 8%;
    }

    @include respond(m-phone2) {
      font-size: 3rem;
    }
  }

  &__main {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--main-color-light);

    @include respond(l-phone) {
      font-size: 2.4rem;
    }

    @include respond(m-phone2) {
      font-size: 2.2rem;
    }
  }

  &__sub {
    color: #778288;
    font-size: 1.4rem;
    margin-top: 1.2rem;

    @include respond(l-phone) {
      font-size: 1.8rem;
    }

    // @include respond(m-phone2) {
    //   font-size: 1.4rem;
    // }
  }

  &__date {
    padding: 3% 0 0 7%;
  }
}

.feedback {
  &__title {
    font-size: 4.4rem;
    color: $color-white;
    text-align: center;
    font-weight: bold;

    @include respond(tab-land) {
      font-size: 3.4rem;
    }

    @include respond(l-phone) {
      font-size: 2rem;
    }
  }
}

.infographics {
  &__date {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 1.8rem;
    /* line-height: 138.99%; */
    font-weight: bold;
    color: white;
    letter-spacing: 0.01em;
  }
}

.popup {
  &__title {
    font-size: 3.2rem;
    margin-bottom: 4%;

    &--2 {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 3%;
    }

    @include respond(tab-land) {
      font-size: 4.2rem;
    }

    @include respond(l-phone) {
      font-size: 2rem;
    }
  }

  &__sub {
    font-size: 1.6rem;
    margin-bottom: 8%;

    @include respond(tab-land) {
      font-size: 2.6rem;
    }

    @include respond(l-phone) {
      font-size: 1.2rem;
    }
  }
}

.budget {
  &__title {
    font-size: 2.2rem;

    @include respond(l-phone) {
      font-size: 1.8rem;
    }
  }
}

.lga {
  &__title {
    color: $color-white;
    font-size: 4rem;

    @include respond(tab-land) {
      font-size: 3rem;
    }

    @include respond(m-phone2) {
      font-size: 2rem;
    }

    @include respond(sx-phone) {
      font-size: 1.8rem;
    }
  }
}

.table__info {
  color: #979ea5;
  font-size: 1.8rem;

  @include respond(phone) {
    display: none;
  }
}

.empty__title {
  font-size: 4rem;
  margin-top: 3%;
  color: var(--main-color-60);

  @include respond(l-phone) {
    font-size: 2.6rem;
  }

  @include respond(m-phone4) {
    font-size: 2.3rem;
  }

  @include respond(sx-phone) {
    margin-top: -14%;
    font-size: 2rem;
  }
}

.footer {
  color: $color-white;

  &__text {
    font-size: 1.8rem;

    @include respond(l-phone) {
      text-align: center;
      width: 100%;
    }
  }

  &__sub {
    font-size: 1.6rem;
    margin-right: 3rem;
  }
}

.news {
  &--title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 4%;
  }

  &--main {
    font-weight: 900;
    font-size: 3.6rem;
    margin-bottom: 17%;
  }
}

.search__text {
  font-size: 1.8rem;
  color: $color-white;
  margin-bottom: 12px;

  @include respond(l-phone2) {
    @include center-align;
  }
}

.datasets {
  &--title {
    color: #525960;
    margin-bottom: 3%;

    @include respond(l-phone2) {
      @include center-align;
    }
  }

  &--text {
    color: $color-grey;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.5px;

    &:hover {
      color: $color-black;
    }

    @include respond(tab-land) {
      font-size: 2rem;
    }
  }
}

.data {
  &--title {
    margin-bottom: 3%;

    @include respond(l-phone2) {
      margin-bottom: 12%;
      @include center-align;
    }
  }
}

.documents {
  &--title {
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 1.5px;

    @include respond(sx-phone) {
      font-size: 3rem;
    }
  }

  &__selects__label {
    font-size: 2.4rem;
    color: var(--main-color-low);
  }

  &__topic {
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color-dark);

    @include respond(desktop) {
      font-size: 1.8rem;
    }

    &:hover {
      @include hover-link;
    }
  }

  &__info {
    font-size: 1.2rem;
    margin-top: 6px;
    color: var(--main-color-dark);
  }

  &__date {
    color: #a8a8a8;
  }

  &__sub {
    color: $color-dark-grey;
    font-size: 1.8rem;
    margin-top: 2.5%;

    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }
}

.contact {
  &--heading {
    font-size: 3rem;
    text-align: center;

    @include respond(sx-phone) {
      font-size: 2.4rem;
    }
  }

  &--ask {
    font-size: 2.8rem;
    margin-bottom: 2%;

    @include respond(tab-land) {
      font-size: 2rem;
    }

    @include respond(l-phone2) {
      font-size: 3.4rem;
    }

    @include respond(sx-phone) {
      font-size: 3rem;
    }
  }

  &--what {
    font-size: 1.8rem;
    color: $color-grey;

    @include respond(tab-land) {
      @include none;
    }

    @include respond(l-phone2) {
      display: block;
      font-size: 2.8rem;
    }

    @include respond(sx-phone) {
      font-size: 2.2rem;
    }
  }

  &--form-title {
    font-weight: bold;
    font-size: 2.8rem;
    color: var(--main-color-low);
    margin-bottom: 2%;

    @include respond(l-phone2) {
      margin-bottom: 4%;
    }
  }

  &__label {
    font-size: 1.6rem;
    color: $color-grey;
    margin-bottom: 8px;

    @include respond(l-phone2) {
      font-size: 2.4rem;
    }
  }

  &__info {
    &__main {
      font-size: 1.6rem;
      font-weight: bold;
    }

    &__sub {
      font-size: 1rem;
    }
  }
}

.inner {
  &__heading {
    padding: 7% $gen-padding 6%;
    text-align: center;

    @include respond(l-phone2) {
      font-size: 3rem;
    }
  }

  &__sub {
    font-weight: 500;
    margin: 0 0 1% 2%;

    @include respond(tab-port3) {
      @include none;
    }
  }

  &__link {
    color: var(--main-color);

    &:hover {
      @include hover-link;
    }

    @include respond(l-phone2) {
      font-size: 2.8rem;
      overflow-wrap: break-word;
      width: 100%;
    }

    @include respond(sx-phone) {
      font-size: 2.4rem;
    }
  }
}

.format {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;

  @include respond(tab-port3) {
    margin-bottom: 36px;
  }
}

.view {
  font-weight: bold;
  margin-right: 12px;
}

.dataset {
  &--title {
    font-weight: 800;
    font-size: 1.4rem;

    @include respond(big-desktop-min) {
      font-size: 2.2rem;
    }

    @include respond(l-phone2) {
      font-size: 2.4rem;
    }
  }

  &--sub {
    font-size: 1.8rem;
    color: $color-dark-grey;
    margin-top: 2%;

    @include respond(big-desktop-min) {
      font-size: 2.8rem;
    }

    @include respond(l-phone2) {
      font-size: 3rem;
    }

    @include respond(m-phone2) {
      font-size: 2.4rem;
    }
  }
}

.empty {
  font-size: 5.6rem;
  font-weight: 300;
  margin-top: 20px;

  @include respond(tab-land2) {
    font-size: 4.2rem;
  }

  @include respond(m-phone4) {
    font-size: 3.2rem;
  }

  @include respond(sx-phone) {
    font-size: 2.4rem;
  }
}

.describe {
  color: $color-greyish-blue;

  @include respond(l-phone2) {
    font-size: 2rem;
  }
}

.information {
  color: var(--main-color-dark);

  @include respond(l-phone2) {
    font-size: 2.8rem;
  }

  @include respond(m-phone2) {
    font-size: 2.4rem;
  }
}

.file-select-name {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0%, -50%);

  @include respond(tab-port3) {
    left: 28%;
  }

  @include respond(m-phone2) {
    left: 36%;
  }

  @include respond(sx-phone) {
    left: 40%;
  }
}

.footer__text {
  @include respond(l-phone2) {
    margin: auto;
  }
}
