.about {
  padding: 4.5% $gen-padding;

  @include respond(big-desktop-min) {
    padding: 4.5% $gen-padding-large;
  }

  @include respond(tab-land2) {
    padding: 4.5% $gen-padding 34%;
  }

  @include respond(tab-port3) {
    padding: 4.5% $gen-padding 20%;
  }

  @include respond(l-phone) {
    padding: 8% $gen-padding-small 8%;
  }


  &__line {
    border: 0.5px solid $color-greyish-blue;
  }
}