.infographics {
  @include gen-section;

  padding: 0 $gen-padding;

  @include respond(big-desktop-min) {
    padding: 0 $gen-padding-large;
  }

  @include respond(l-phone) {
    padding: 0 $gen-padding-small;
  }

  &__cards {
    @include card-container;
  }

  &__card {
    @include card;
    height: 35rem;

    @include respond(tab-port3) {
      height: 22rem;
    }

    @include respond(phone) {
      height: 30rem;
    }

    @include respond(phonen) {
      height: 22rem;
    }
  }

  &__items {
    position: relative;
    height: 100%;
  }

  &__img {
    height: 100%;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.06);
    // border-radius: 12px;
    object-fit: cover;

    //! Remove if not approved
    border-radius: 28px;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2.8rem 3.2rem;
    width: 100%;
    // background: rgba($color-primary, 0.90);
    background: var(--main-color-90);
    border-radius: 0px 0px 12px 12px;
    opacity: 0;
    transition: .5s ease-out;

    //! Remove if not approved
    border-radius: 0px 0px 28px 28px;
  }
  
}

.infographics__items:hover .infographics__info {
  opacity: 1;
}